<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>60890709044-ftgunnckbmtbi4ga7n1ivg0635smn4s5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.60890709044-ftgunnckbmtbi4ga7n1ivg0635smn4s5</string>
	<key>API_KEY</key>
	<string>AIzaSyCGLb2vWu4BVNH7vjL2mhSRLM49UAtTHL8</string>
	<key>GCM_SENDER_ID</key>
	<string>60890709044</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chocolatestore</string>
	<key>PROJECT_ID</key>
	<string>chocolate-store-1e941</string>
	<key>STORAGE_BUCKET</key>
	<string>chocolate-store-1e941.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:60890709044:ios:f7af54e8c587ce50505e61</string>
</dict>
</plist>